/*estilos generales*/

body{
    margin: 0;
}

/*cuerpo*/
body{
    background-color: white;
}

.historia, .pilotos, .escuderia, .circuitos{
    background-color: #EEEEEE;
}

.titulo h2{
    color: #C10000;
    text-align: center;
    font-size: 60px;
}

.barra-navegadora{
    background-color: #EEEEEE;
}

.barra-navegadora h3{
    letter-spacing: 1.5px;
    background-color: #C10000;
    color: #EEEEEE; 
}

.barra-navegadora a{
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color: black;
}

p{
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

h2{
    font-family: 'Bebas Neue', sans-serif;
}

h3{
    font-family: 'Bebas Neue', sans-serif;
}

article h2{
    letter-spacing: 1.5px;
}

/*nav{
    background-color: #C10000;
}

.navbar-nav a{
    margin-left:60px;
    color: #EEEEEE;
}*/

/*Flexbox*/

/*encabezado*/

/*header{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
}

header h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    text-align: center;
}

.logo{
    display: flex;
    height: 150px;
    justify-content: center;
}

.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo a img{
    width: 450px;
}*/

/*index*/
.cuerpo-index{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner img{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.articulos{
    display: flex;
    justify-content: space-evenly;
}

.articulo{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #EEEEEE;
}

.articulo h2{
    width: 100%;
    text-align: center;
    margin-top: 0;
    background-color: #C10000;
    color: #EEEEEE;
}

.articulo img{
    width: 50%;
}

.articulo p{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}


/**historias**/

.titulo{
    display: flex;
    height: 200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenido{
    display: flex;
}

.historias{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.historia{
    width: 99%;
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px #C10000 solid;
}

.historia h2{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0;
    padding-right: 3px;
    text-align: center;
    background-color: #C10000;
    color: #EEEEEE;
}

.historia ul li{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

.listado{
    display: flex;
    flex-direction: column;
}

.historia h3{
    margin-top: 3px;
    margin-left: 22px;
    font-size: 20px;
}

.barra-navegadora{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px #C10000 solid;
}

.barra-navegadora h3{
    font-size: 25px;
    margin-top: 0;
    text-align: center;
}

.barra-navegadora ul{
    padding: 0;
    margin: 0;
    text-align: center;
}

.barra-navegadora li{
    list-style: none;
    margin-bottom: 20px;
}

.barra-navegadora li a{
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

/**pilotos**/

.pilotos{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: space-around;
    align-content: center;
    background: white;
}

.piloto{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 230px;
    height: 380px;
    background: #EEEEEE;
    margin-bottom: 50px;
    border: 1px #b6b6b6 solid;
    border-radius: 10px;
}

.piloto h3{
    text-align: center;
    font-size: 25px;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.red-bull h3{
    background-color: #3671C6;
}

.ferrari h3{
    background-color: #F91536;
}

.mercedes h3{
    background-color: #6CD3BF;
}

.alpine h3{
    background-color: #2293D1;
}

.mclaren h3{
    background-color: #F58020;
}

.alfa-romeo h3{
    background-color: #C92D4B;
}

.aston-martin h3{
    background-color: #358C75;
}

.haas h3{
    background-color: #B6BABD;
}

.alphatauri h3{
    background-color: #5E8FAA;
}

.williams h3{
    background-color: #37BEDD;
}

.informacion-piloto{
    display: flex;
}

.informacion-piloto-numero{
    align-self: center;
    width: 50%;
}

.informacion-piloto-numero h2{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 90px;
    margin: 0;
}

.informacion-piloto-personal{
    width: 50%;
}

.informacion-piloto-personal p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
}

.informacion-piloto-personal img{
    width: 20%;
}

/*escuderias*/

.escuderias{
    display: grid;
    grid-template-columns: 2fr 50%;
    justify-items: center;
}

.escuderia{
    width: 650px;
    height: 150px;
    display: flex;
    border: 1px #b6b6b6 solid;
    border-radius: 0px 30px 30px 0px;
    margin-bottom: 40px;
}
 .red-bull{
     border: #3671C6 1px solid;
 }

 .ferrari{
    border: #F91536 1px solid;
}

.mercedes{
    border: #6CD3BF 1px solid;
}

.alpine{
    border: #2293D1 1px solid;
}

.mclaren{
    border: #F58020 1px solid;
}

.alfa-romeo{
    border: #C92D4B 1px solid;
}

.aston-martin{
    border: #358C75 1px solid;
}

.haas{
    border: #B6BABD 1px solid;
}

.alphatauri{
    border: #5E8FAA 1px solid;
}

.williams{
    border: #37BEDD 1px solid;
}

.escuderia h3{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.escuderia-informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.escuderia-informacion img{
    width: 100%;
    align-self: flex-start;
}

.escuderia-informacion ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.escuderia-informacion li{
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.escuderia-informacion li p{
    display: inline;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

/*contacto*/

.formulario{
    border: #C10000 2px solid;
    border-radius: 0px 30px 0px 30px;
}

.texto-formulario{
    font-family: 'PT Sans', sans-serif;
}

.contenedor{
    display: flex;
}

.contenido-contacto{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contenido-texto{
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    font-size: 80px;
}

.contenido-texto p{
    font-size: 20px;
}

.contenido-video{
    align-self: center;
}

.formula{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.formulario label{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    width: 90%;
}

.formulario input{
    width: 85%;
    height: 30px;
}

.formulario textarea{
    width: 85%;
    height: 200px;
}

button{
    height: 40px;
    width: 100px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    background-color: #C10000;
    color: white;
    border: none;
}

/*footer*/

/*footer{
    display: flex;
    background-color: #C10000;
    height: 120px;
    justify-content: space-evenly;
    align-items: center;
}

.derechos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

.derechos p{
    color: #EEEEEE;
    margin: 0px;
}

.redes_sociales{
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    color: #EEEEEE;
}

.redes_sociales a{
    text-decoration: none;
    color: #EEEEEE;
}

.redes_sociales a i{
    font-size: 20px;
}
*/

/*media query*/

/*mobile*/
@media only screen and (max-width: 500px){

    /*estilos generales*/
    .navbar-nav a{
        margin-left:0;
    }

    .logo a img{
        width: 95%;
    }


    /*index*/

    .banner{
        display: none;
    }

    .articulos{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .articulo{
        width: 320px;
        margin-bottom: 50px;
    }

    .articulo h2{
        padding-top: 3px;
    }

    .articulo p{
        margin-top: 20px;
        text-align: center;
    }

    /*historias*/

    .historias{
        width: auto;
    }

    .historia{
        width: auto;
    }

    .historia img{
        display: none;
    }

    .barra-navegadora{
        display: none;
    }

    .listado{
        padding-top: 10px;
        text-align: center;
    }

    /*pilotos*/

    .pilotos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*escuderias*/

    .escuderias{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .escuderia-informacion img{
        display: none;
    }

    .escuderia{
        width: 237px;
        height: 200px;
        border-radius: 0;
    }

    /*contacto*/

    .contenedor{
        justify-content: center;
    }

    .contenido-contacto{
        display: none;
    }

    .formula{
        width: 90%;
    }
}

/*tablet*/
@media only screen and (min-width: 501px) and (max-width: 920px){
    
    /*estilos generales*/
    .navbar-nav a{
        margin-left:0;
    }

    /*index*/

    .banner{
        margin-top: 60px;
    }

    .articulos{
        flex-direction: column;
        align-items: center;
    }

    .articulo{
        width: 80%;
    }

    .articulo h2{
        padding-top: 3px;
    }

    .articulo p{
        margin-top: 20px;
    }

    /*historias*/

    .historias{
        width: auto;
    }

    .historia{
        width: auto;
    }

    .historia img{
        display: none;
    }

    .barra-navegadora{
        display: none;
    }

    .listado{
        padding-top: 10px;
        text-align: center;
    }

    /*pilotos*/

    .pilotos{
        display: grid;
        grid-template-columns: repeat(2, 250px);
        justify-content: space-around;
        align-content: center;
    }

    /*escuderias*/

    .escuderias{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .escuderia-informacion img{
        display: none;
    }

    .escuderia{
        width: 237px;
        height: 200px;
        border-radius: 0;
    }

    /*contacto*/

    .contenedor{
        justify-content: center;
    }

    .contenido-contacto{
        display: none;
    }

    .formula{
        width: 90%;
    }
}

@media only screen and (min-width: 921px) and (max-width: 960px){

    /*historias*/

    .historias{
        width: auto;
    }

    .historia{
        width: auto;
    }

    .barra-navegadora{
        display: none;
    }

    .listado{
        padding-top: 10px;
        text-align: center;
    }

    /*pilotos*/

    .pilotos{
        display: grid;
        grid-template-columns: repeat(2, 250px);
        justify-content: space-around;
        align-content: center;
    }

    .escuderias{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .escuderia{
        height: 200px;
    }

    /*contacto*/

    .contenedor{
        justify-content: center;
    }

    .contenido-contacto{
        display: none;
    }

    .formula{
        width: 90%;
    }

}

/*desktop*/
@media only screen and (min-width: 961px)  and (max-width: 992px){
    
    /*pilotos*/

    .pilotos{
        display: grid;
        grid-template-columns: repeat(3, 250px);
        justify-content: space-around;
        align-content: center;
    }

    /*escuderias*/

    .escuderias{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .escuderia{
        height: 200px;
    }

    /*contacto*/

    .contenedor{
        justify-content: center;
    }

    .contenido-contacto{
        display: none;
    }

    .formula{
        width: 90%;
    }
}

@media only screen and (min-width: 993px)  and (max-width: 1310px){
    
    /*escuderias*/

    .escuderias{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .escuderia{
        height: 200px;
    }

    /*contacto*/

    .contenedor{
        justify-content: center;
    }

    .contenido-contacto{
        display: none;
    }

    .formula{
        width: 90%;
    }
}
