header{
    @include flex-column;   
    @include sizes(100%, 200px);

    & h1{
        font-family: $fuenteSecundaria;
        font-size: 70px;
        text-align: center;
    }
}

.logo{
    @include flex-center;
    height: 150px;

    & a{
        @include flex-center-center;
        width: 100%;

        & img{
            width: 450px;
        }
    }
}

nav{
    background-color: $rojo;

    & .navbar-nav a{
        margin-right: 60px;
        color: $blanco;
    }
}

